<app-menu></app-menu>
<div class="">
  <div class="container">
  <h3 class="display-4">About Me</h3>
  <p class="lead">
    I've always embraced the information age, having fallen in love with technology as a kid. Whether it was computers, video games, or any of the electronics I could find, I became more and more engrossed as technology evolved throughout my life. After going the self taught route of programming, I decided to attend a coding bootcamp. Here we are today - I program everyday and learn more each time. I love it.
  </p>
  </div>
</div>
<div class="">
  <span style="position: absolute; bottom: 0; right: 0; text-align:right;"> Creator: Chris C<span style="color:white">  | |</span></span>
</div>
