<app-menu></app-menu>
<div>
    <div>
      <span  class="display-4">Product List</span>
      <span  *ngIf="logUa" class="h1"> | <a routerLink="/product/create">Create</a></span>
      <span> | Search <input [(ngModel)]="searchCriteria" type="text"></span>
    </div>
    <table class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
            <th scope="col"><a (click)="sortBy('product.vendor.name')">Vendor </a></th>
            <th scope="col"><a (click)="sortBy('partNumber')">Part # <i class="fas fa-sort"></i></a></th>
            <th scope="col"><a (click)="sortBy('name')">Name <i class="fas fa-sort"></i></a></th>
            <th scope="col"><a (click)="sortBy('price')">Price </a></th>
            <th scope="col"><a (click)="sortBy('unit')">Unit <i class="fas fa-sort"></i></a></th>
            <th scope="col"><a (click)="sortBy('photoPath')">Photopath <i class="fas fa-sort"></i></a></th>
            <th scope="col">Actions: </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products | proSearch:searchCriteria | sort:sortCriteria:sortOrder">
            <td><a routerLink="/vendor/detail/{{p.vendor.id}}">{{p.vendor.name}}</a></td>
            <td>{{p.partNumber}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price | currency }}</td>
            <td>{{p.unit}}</td>
            <td>{{p.photoPath}}</td>
            <td>
              <a routerLink="/product/detail/{{p.id}}">Detail</a>
              <span *ngIf="logUa"> | </span>
              <a *ngIf="logUa" routerLink="/product/edit/{{p.id}}">Edit</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="un" style="position: absolute; top: 0; right: 0; width: 100px; text-align:right; color: white">{{un}}</div>