<app-menu></app-menu>
<div>
    <div>
      <span  class="display-4">Product List</span>
      <span  class="h1"> | <a routerLink="/product/create">Create</a></span>
      <span> | Search <input [(ngModel)]="searchCriteria" type="text"></span>
    </div>
    <table class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
            <th class="sortr" scope="col"><a (click)="sortBy('product.vendor.name')">Vendor: </a></th>
            <th class="sortr" scope="col"><a (click)="sortBy('partNumber')">Part #: </a></th>
            <th class="sortr" scope="col"><a (click)="sortBy('name')">Name: </a></th>
            <th class="sortr" scope="col"><a (click)="sortBy('price')">Price: </a></th>
            <th class="sortr" scope="col"><a (click)="sortBy('unit')">Unit: </a></th>
            <th class="sortr" scope="col"><a (click)="sortBy('photoPath')">Photopath: </a></th>
            <th scope="col">Actions: </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products | proSearch:searchCriteria | sort:sortCriteria:sortOrder">
            <td><a routerLink="/vendor/detail/{{p.vendor.id}}">{{p.vendor.name}}</a></td>
            <td>{{p.partNumber}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.unit}}</td>
            <td>{{p.photoPath}}</td>
            <td>
              <a routerLink="/product/detail/{{p.id}}">Detail</a> |
              <a routerLink="/product/edit/{{p.id}}">Edit</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>