<app-menu></app-menu>
<div>
  <div>
    <span  class="display-4">Request Create</span>
  </div>
  <table class="table table-hover table-bordered table-responsive" *ngIf="request">
    <tr>
      <th scope="col">Description:</th>
      <td><input [(ngModel)]="request.description" class="inputstirng" type="text"></td>
    </tr>
    <tr>
      <th scope="col">Justification:</th>
      <td><input [(ngModel)]="request.justification" class="inputstirng" type="text"></td>
    </tr>
    <tr>
      <th scope="col">Rejection Reason:</th>
      <td><input [(ngModel)]="request.rejectionReason" class="inputstirng" type="text"></td>
    </tr>
    <tr>
      <th scope="col">Delivery Mode:</th>
      <td><input [(ngModel)]="request.deliveryMode" class="inputstirng" type="text"></td>
    </tr>
    <!-- <tr>
      <th scope="col">Submitted Date:</th>
      <td><input [(ngModel)]="request.submittedDate" class="inputstirng" type="text"></td>
    </tr> -->
    <tr>
      <th scope="col">Status:</th>
      <td><input [(ngModel)]="request.status" class="inputstirng" type="text"></td>
    </tr>
    <tr>
      <th scope="col">Total: </th>
      <td><input [(ngModel)]="request.total" class="inputstirng" type="text"></td>
    </tr>
    <!-- <tr *ngIf="users">
      <th scope="col">User: </th>
      <td><input [(ngModel)]="users.username" class="inputstirng" type="text" disabled></td>
    </tr> -->
    <tr *ngIf="users">
        <th scope="col">User: </th>
        <td>
          <select [(ngModel)]="request.userId">
              <option *ngFor="let u of users" [ngValue]="u.id">{{u.username}}</option>
          </select>
        </td>
      </tr>
    <tr>
      <button (click)="save()" class="btn btn-success">Save</button>
    </tr>
  </table>
</div>