<app-menu></app-menu>
<div>
  <div>
    <span  class="display-4">User List</span>
    <span *ngIf="logUa" class="h1"> | <a routerLink="/user/create">Create</a></span>
    <span> | Search <input [(ngModel)]="searchCriteria" type="text"></span>
  </div>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
          <!-- <th scope="col">Id: </th> -->
          <th scope="col"><a (click)="sortBy('username')">Username <i class="fas fa-sort"></i></a></th>
          <!-- <th scope="col">Password: </th>
          <th scope="col">Firstname: </th>
          <th scope="col">Lastname: </th> -->
          <th scope="col"><a (click)="sortBy('lastname')">Name <i class="fas fa-sort"></i></a></th>
          <th scope="col"><a (click)="sortBy('phone')">Phone <i class="fas fa-sort"></i></a></th>
          <th scope="col"><a (click)="sortBy('email')">Email <i class="fas fa-sort"></i></a></th>
          <th scope="col">Reviewer? </th>
          <th scope="col">Admin? </th>
          <th scope="col">Actions: </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users | search:searchCriteria | sort:sortCriteria:sortOrder">
          <!-- <td>{{u.id}}</td> -->
          <td>{{u.username}}</td>
          <!-- <td>{{u.password}}</td>
          <td>{{u.firstname}}</td>
          <td>{{u.lastname}}</td> -->
          <td>{{u.firstname}} {{u.lastname}}</td>
          <td>{{u.phone}}</td>
          <td>{{u.email}}</td>
          <td>{{u.isReviewer | booldisp}}</td>
          <td>{{u.isAdmin | booldisp}}</td>
          <td>
            <a routerLink="/user/detail/{{u.id}}">Detail</a>
            <span *ngIf="logUa"> | </span>
            <a *ngIf="logUa" routerLink="/user/edit/{{u.id}}">Edit</a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="un" style="position: absolute; top: 0; right: 0; width: 100px; text-align:right; color: white">{{un}}</div>
