<div>
  <h3 class="display-3">User List</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
          <!-- <th scope="col">Id: </th> -->
          <th scope="col">Username: </th>
          <!-- <th scope="col">Password: </th>
          <th scope="col">Firstname: </th>
          <th scope="col">Lastname: </th> -->
          <th scope="col">Name: </th>
          <th scope="col">Phone: </th>
          <th scope="col">Email: </th>
          <th scope="col">Reviewer: </th>
          <th scope="col">Admin: </th>
          <th scope="col">Actions: </th>
      </tr>
    </thead>
    <tr *ngFor="let u of users">
        <!-- <td>{{u.id}}</td> -->
        <td>{{u.username}}</td>
        <!-- <td>{{u.password}}</td>
        <td>{{u.firstname}}</td>
        <td>{{u.lastname}}</td> -->
        <td>{{u.firstname}} {{u.lastname}}</td>
        <td>{{u.phone}}</td>
        <td>{{u.email}}</td>
        <td>{{u.isReviewer ? "Yes" : "No"}}</td>
        <td>{{u.isAdmin ? "Yes" : "No"}}</td>
        <td>
          <a routerLink="/user/detail/{{u.id}}">Detail</a> |
          <a routerLink="/user/edit/{{u.id}}">Edit</a>
        </td>
    </tr>
  </table>
</div>
